@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #2b2b2b;
}
.common_table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  text-align: center;
  background: white;
}
.container {
  width: 55%;
  margin: 0 auto;
}
.row_header {
  background-color: #ea6153;
  color: white;
}
th {
  padding: 10px;
}
.blue {
  background-color: #2980b9;
}
.green {
  background-color: #27ae60;
}
input {
  padding: 10px;
  margin: 10px 0;
}
